[ghq]
    vcs = git
    root = /home/permees/Projects

[includeIf "gitdir:~/Projects/github-personal/phucle297/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/Projects/github.com/company/"]
    path = ~/.gitconfig-work
[push]
	autoSetupRemote = true
[core]
	editor = nvim
